body {
  border: 1px solid red;
  font-size: 16px; /*1em*/
  margin: 0px auto;
  max-width: 1024px;
}

header {
  background: #d1e3ee;
}

#imgLogo {
  /* ID del logo*/
  margin-top: -150px;
}

header nav {
  background: #11aa;
  width: 99%;
  border-radius: 5px;
  margin: 0 auto;
  padding: 2px 0px;
}

form {
  float: right;
  margin-top: -35px;
  margin-right: 10px;
}

li {
  color: white;
  display: inline-block;
  margin-right: 20px;
}

input {
  border-radius: 5px;
  border: none;
}

.submit {
  background-color: green;
  border: 1px solid green;
  color: white;
}

#scn01 {
  margin-top: 15px;
}

#scn01 article {
  text-align: center;
}

#scn01 article img {
  width: 98%;
  border: 5px solid rgba(150, 150, 150, 0.5);
}

#scn02 article {
  display: inline-block;
  vertical-align: top;
  width: 32.8%;
}

.unaSeccion {
  font-size: 4.5em;
}

.nito {
  font-weight: bold;
}

.otraSeccion {
  font-size: 2.5em;
}

#scn02 article input {
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  color: blue;
  display: inline;
  margin-left: 35%;
  padding: 5px;
}
