body {
    margin: 0;
}

h1 {
    color: #F019FF;
}

header {
    background-color: #AA8FFF;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    /* border: 2px solid #1143FF; */
    display: inline-block;
}

li:hover {
    background: #AA5510;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
}